@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus{
  box-shadow: none !important;
}

textarea {
  resize: none;
  }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  }